html, body {
	height:100%;
}
#map {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#overworld {
	position:absolute;
	top:0;
	left:50px;
	z-index:100;
	margin-right:10px;
}
.leaflet-popup-content {
	font-family: "Roboto";
	font-size:15px;
}
.prices td {
	padding:4px !important;
	white-space: nowrap;
}
#overworld .card-panel {
	padding: 2px 20px;
}
#overworld h1 {
	font-size:3.2rem;
}
#overworld-buttons {
	position:absolute;
	top:5px;
	left:50px;
	z-index:100;
}
b.station-counter {
	position:relative;
	width:50px;
}
