html, body {
	height:100%;
}
#map {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#overworld {
	position:absolute;
	top:0;
	left:50px;
	z-index:100;
	margin-right:10px;
}
.prices td {
	padding:4px !important;
	white-space: nowrap;
	font-family: "Roboto";
}
#overworld .card-panel {
	padding: 5px 2px;
}
#overworld-buttons {
	position:absolute;
	top:5px;
	left:50px;
	z-index:100;
}
b.station-counter {
	position:relative;
	width:50px;
}
